<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <link rel="stylesheet" href="css/mainstyle.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="css/angular-material.min.css">
</head>
<body ng-app="BlankApp" ng-cloak style="background-color:#DDE7ED;">


    <!-- for navmenu and subnav component -->
    <div ng-include="'components/mainheader.html'" class="header-position" style=""></div>
    <div ng-include="'components/share.html'"></div>
    <md-card layout="row" layout-xs="column" layout-padding ng-controller="defaultCtrl" ng-style="{'margin-left':$mdMedia('gt-sm')?'150px':'10px','margin-right':$mdMedia('gt-sm')?'150px':'10px','min-height':$mdMedia('sm')?'700px':'1250px'}" style="overflow:hidden;">
        <div flex="75" flex-xs="100" flex-sm="100">
            <h1 class="md-title">ABOUT H.O.P.E. TEAM</h1>
            <p><span>Founded in May 2009, the H.O.P.E. Team is a nonprofit organiza</span><span >tion&nbsp;which exists to support</span><span >patients</span><span >&nbsp;at Cancer Treatment Centers of&nbsp;America® and Western Regional Medical Center.&nbsp;We strive to provide Help, Optimism, Peace and Encouragement&nbsp;for cancer patients and their</span><span >families. Through</span><span >&nbsp;the H.O.P.E. Team, community members are an integral component&nbsp;of the care team that has made Cancer Treatment Centers of America&nbsp;synonymous with quality and compassion.</span></p>
            <p><span>The H.O.P.E. Team provides a volunteer service program at CTCA which&nbsp;enhances the whole-person care concept that Cancer Treatment Centers&nbsp;of America refers to as the Mother Standard®. This guiding principle is a&nbsp;nurturing approach carried out by all Cancer Treatment Centers of America employees. The Mother Standard® reflects how they would want&nbsp;their mothers, fathers, brothers or sisters to be treated</span><span >,</span><span >&nbsp;if they had cancer.</span></p>
            <p><span>We are excited to be able to bring in a professional service team of&nbsp;volunteers that will impact the patients of Western Regional Medical Center and their families. In addition to providing an effective volunteer team at the hospital, the H.O.P.E. Team is involved in communities throughout Arizona to share&nbsp;information about cancer awareness and prevention.</span></p>
            <p><span>Through the H.O.P.E. Team’s&nbsp;</span><a href="http://www.hopeteamaz.org/h-o-p-e-team-wish-list/" style="text-decoration: none;"><span class="s6" style="font-style: italic; color: #0000ff;">Wish List</span></a><span >, the community is able to donate&nbsp;needed items to support the patients at CTCA. For ideas on how to hold a Wish List drive with your group, contact the H.O.P.E. Team Manager at 623-207-3545.</span></p>
            <p><span>100% of financial donations to the H.O.P.E. Team go directly to providing&nbsp;activities and supplies for the patients at CTCA and are tax deductible. The H.O.P.E. Team is a 501</span><span >(</span><span >c</span><span >)(</span><span >3</span><span >)</span><span >&nbsp;nonprofit organization (Tax ID#27-0325096).</span></p>
            <p><span>For more information, please contact:</span></p>
            <p>
                <span>H.O.P.E. Team</span><br>
                <span>14200 W.&nbsp;</span><br>
                <span>Celebrate Life Way</span><br>
                <span>Goodyear, AZ 85338</span><br>
                <span>623-207-3545</span><br>
                <span>HOPEteam@ctca-hope.com</span>
            </p>
        </div>
        <div flex flex-xs="100" flex-sm="100" hide-xs hide-sm>
            <md-card layout-padding>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title" style="color:burlywood;">Make a Donation to H.O.P.E. Team</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions>
                    <a href="" ng-controller="viewerController as ctrl" ng-click="ctrl.openControlPanel()"><img src="http://www.hopeteamaz.org/wp-content/uploads/2013/09/donate.png" style="padding-top: 15%;"></a>
                </md-card-actions>
            </md-card>
            <md-card layout-padding>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title" style="color:burlywood;">Volunteer</span>
                    </md-card-title-text>
                </md-card-title>
                <p>
                    The H.O.P.E. Team provides the volunteer program at Western Regional Medical Center. These volunteers a vital part of the team that provides hope, healing, and care to patients and families affected by cancer. If you are looking for a life-changing experience and are available 3-4 hours a week, then the H.O.P.E. Team volunteer team may be just what you are seeking.
                </p>
                <md-card-actions layout="row" layout-align="center center">
                    <a href=""><img src="http://www.hopeteamaz.org/wp-content/uploads/2013/09/hope-team-teen-leadership-badge.png"></a>
                </md-card-actions>
            </md-card>
            <md-card layout-padding>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title" style="color:burlywood;">Cancer Resources</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout-align="center center">
                    <a href="" target="_blank"><img src="http://www.hopeteamaz.org/wp-content/uploads/2011/10/CTCA_Logo.jpg"></a>
                    <a href="http://www.cancercompass.com/cancerfighter" style="text-decoration: none;">Cancer Fighters</a>
                    <p><a href="http://azassistanceinhealthcare.org" style="text-decoration: none;">Arizona Assistance in Health Care</a></p>
                </md-card-actions>
            </md-card>
            <md-card layout-padding>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title" style="color:burlywood;">H.O.P.E. Team Wish List</span>
                    </md-card-title-text>
                </md-card-title>
                <p>
                    Our Wish List shows items needed for patient activities and outings as well as comfort items that will be distributed to patients to support them through their journey.
                </p>
                <md-card-actions>
                    <a md-button style="color: #34accb;" ng-controller="wishController as ctrl" ng-click="ctrl.openControlPanel()">Click here to see the iterms on ouw wish list.</a>
                </md-card-actions>

            </md-card>
        </div>
    </md-card>
    <div ng-include="'components/mobtab.html'" hide-gt-xs></div>
    <div ng-include="'components/footer.html'"> </div>
    <!-- Angular Material requires Angular.js Libraries -->

    <script src="js/angular.min.js"> </script>

    <script src="js/angular-animate.min.js"> </script>
    <script src="js/angular-aria.min.js"> </script>
    <script src="js/angular-material.min.js">    </script>

    <script src="js/angular-messages.min.js"></script>
   

    <script src="js/mainlogic.js"></script>
    

</body>
</html>