<div flex flex-xs layout="row" layout-xs="column" layout-align="center center" style="background-color:#DDE7ED; color:#ababab;padding-bottom:25px;">
    <center><p>Copyright © H.O.P.E. Team</p></center>
</div>
    
<!-- for backtop -->
<img src="img/top.ico" id="return-to-top" style="position:fixed;bottom:30px;right: 20px;background: rgb(0, 0, 0,0.7);        height: 50px;    display: block;    text-decoration: none;    -webkit-border-radius: 35px;    -moz-border-radius: 35px;    border-radius: 35px;    display: none;    -webkit-transition: all 0.3s linear;    -moz-transition: all 0.3s ease;    -ms-transition: all 0.3s ease;    -o-transition: all 0.3s ease;    transition: all 0.3s ease;"/>
<script src="js/backtotop.js"></script>