<div flex layout-align="center center">
    <span class="layout-column layout-align-start-end">
        <md-button class="md-icon-button close-btn" ng-click="cancel()">
            <svg style="width:16px;height:16px" viewBox="0 0 20 20">
                <path fill="#3366ff" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
            </svg>
        </md-button>
    </span>
    <md-card style="box-shadow:none; padding:0 20px;">
        <p class="s4" style="color: #000000;"><span class="s5">Through the H.O.P.E. Team's&nbsp;</span><a href="http://www.hopeteamaz.org/h-o-p-e-team-wish-list/"><span class="s6" style="font-style: italic; color: #0000ff;">Wish List</span></a><span class="s5">, the community is able to donate&nbsp;needed items to support the patients at CTCA. For ideas on how to hold a Wish List drive with your group, contact the H.O.P.E. Team Manager at 623-207-3545.</span></p>
        <p class="s4" style="color: #000000;"><span class="s5">100% of financial donations to the H.O.P.E. Team go directly to providing&nbsp;activities and supplies for the patients at CTCA and are tax&nbsp;</span><span class="s5">deductible. The</span><a name="_GoBack"></a><span class="s5">&nbsp;H.O.P.E. Team is a 501c3 nonprofit organization (Tax ID#27-0325096).</span></p>
        <p class="s4" style="color: #000000;"><span class="s5">For more information, please contact:</span></p>
        <p class="s4" style="color: #000000;">
            <span class="s5">H.O.P.E. Team</span><span class="s5">
                <br>
            </span><span class="s5">14200 W.&nbsp;</span><span class="s5">Celebrate Life Way</span><span class="s5">
                <br>
            </span><span class="s5">Goodyear, AZ 85338</span><span class="s5">
                <br>
            </span><span class="s5">623-207-3545</span><span class="s5">
                <br>
            </span><span class="s5">HOPEteam@ctca-hope.com</span>
        </p>
        <p>&nbsp;</p>
    </md-card>
</div>

